Bu bir deneme

In [42]:

import sqlite3
baglanti = sqlite3.connect('hi.db')
#else:
#    print('Bağlantı Başarısız!')
book()
book_add()

welcome
ege
[(u'ege', u'abc', None, None, 5, None)]

TypeError: book_add() takes no arguments (1 given)

In [19]:
veritabani_sec = baglanti.cursor()
#veritabani_sec.execute('''INSERT INTO sincap (ad,parola,id) VALUES (?,'1234','')''', (name))

In [10]:
oku = veritabani_sec.execute('SELECT * FROM sincap')
print(oku.fetchall())
 
baglanti.commit()
baglanti.close()

[(u'ege', u'1234', u'')]

In [44]:
username = None

def check (): #username, password):
    global username
    print('name')
    name = raw_input()
    cursor = veritabani_sec.execute('SELECT ad,parola,id FROM sincap WHERE  ad=?;', (name,))
    print(cursor.fetchall())
    
    username = name
    
   # print("kullanıcı bulundu")
#else :
  #  print("try again")

In [23]:
check()

name
ege
[(u'ege', u'1234')]

In [45]:
def book():
    if username == None:
        check()
    
    print('welcome')
    bookname =raw_input()
    cursor = veritabani_sec.execute('SELECT * FROM book WHERE  name=? ;', (bookname,))
    print(cursor.fetchall())

In [ ]:
book()

name
ege
[(u'ege', u'1234', u'')]
welcome

In [27]:
book()

welcome
anna karenina
[(u'anna karenina', u'tolstoy', 1996, u'abc', 1, 1)]

In [40]:
def book_add():
    print('kitap ekle')
    bookname =raw_input()
    w_name =raw_input()
    
    cursor = veritabani_sec.execute('''INSERT INTO book (name,w_name,b_id) VALUES (?,?,null)''', (bookname,w_name,))
    print(cursor.fetchall())
    baglanti.commit()

In [41]:
book_add()

kitap ekle
e
abc
[]

In [39]:
book_add()

kitap ekle
ege
abc
5
[]

In [37]:
book_add()

kitap ekle


3
[]

In [34]:
book_add()

kitap ekle
abc
abc
2
[]

In [32]:
book_add()

kitap ekle
hellp
aabc
2

ProgrammingError: Incorrect number of bindings supplied. The current statement uses 1, and there are 3 supplied.

In [29]:
book()

welcome
anna karenina
[(u'anna karenina', u'tolstoy', 1996, u'abc', 1, 1)]

In [30]:
book_add()

kitap ekle
vedasızlık

NameError: global name 'w_name' is not defined

In [ ]:
def book_up():
    print('kitap listesini gör')
    cursor = veritabani_sec.execute('SELECT * FROM book' )
   
    
    cursor = veritabani_sec.execute('''UPDATE * FROM book (name,w_name,b_id) VALUES (?,?,null)''', (bookname,w_name,))
    
    print(cursor.fetchall())
       bookname =raw_input()
    w_name =raw_input()
    baglanti.commit()

In [ ]:
book_up()